/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/error.log
myloginfo.log
public/uploads/bills
public/uploads/categories
public/uploads/delivery_users
public/uploads/offers
public/uploads/products
public/uploads/users
storage/debugbar/
storage/debug_ip_list_cs.json
